.panel__admin {
  min-height: 100vh;
}

.agregar__producto {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.agregar__producto__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  padding: 0.85vw;
  
}

.panel__titulo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 26px;
}

.form__input__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  border-radius: 4px;
  gap: 4px;
  height: 60px;
 
}

.label__input__form {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #a2a2a2;
}

#form__input__descripcion {
  resize: none;
}
.login__button--producto {
  width: 100%;
}
/* Campo Imagen */
#input__url{
  cursor: pointer;
  padding: .4rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Raleway";
}

#input__url::-webkit-file-upload-button{
  cursor: pointer;
  background-color: #2a7ae4;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-family: "Raleway";
  margin-right: 1rem;
  
}

/* Campo categoria */
#form__input__categoria{
  cursor: pointer;
  background-color: #2a7ae4;
  color: white;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  padding: .4rem;
  appearance: none;
}

.formulario__correcto{
  border: 3px solid green;
}

.formulario__incorrecto{
  border: 3px solid red;
}
.form__exito{
  display: none;
  font-size: 1.35rem;
  font-family: "Montserrat", sans-serif;
  color: green;
}
.form__exito--mostrar{
  display: block;
}
.form__error{
 display: none;
  font-size: 1.35rem;
  font-family: "Montserrat", sans-serif;
  color: red;
}
.form__error--mostrar{
  display: block;

}

