* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover , a:focus , a:visited {
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-width: 19.159vw;
  display: grid;
  grid-template-areas:
    "header"
    "promocion"
    "productos"
    "footer";
}

.seccion__promocion {
  grid-area: promocion;
}

.productos {
  grid-area: productos;
}

.footer {
  grid-area: footer;
}
