* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,textarea{
  border: none;
  border-radius: 4px;
  width: 100%;
}
input:focus , textarea:focus{
  outline:none;
} 
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

body {
  /* min-height: 100vh; */
  max-width: 19.159vw;
  min-width: 360px;
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-areas:
    "header"
    "promocion"
    "star_wars"
    "consolas"
    "diversos"
    "footer";
}

.productos {
  grid-area: productos;
}

.footer {
  grid-area: footer;
}

