@media only screen and (min-width: 768px) {
    .buscador__input{
      display: block;
    }

    .footer__info__frecuente{
        order: 1;
    
    }
    .info__frecuente__links{
        align-items: flex-start;
      }

    .contacto__form{    
        order: 2;
        
    }
    .seccion__contacto{
        flex-direction: row;
        
    }

  }