.seccion__productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0.85vw;
}
/* Titulo, enlace ver todo y vector */
.seccion__titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
}

.titulos__estilos {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(1.375rem, 0.5938rem + 2.5vw, 2rem);
  line-height: 1.3vw;
}

.ver__todo__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__ver-todo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  line-height: 0.35vw;
  color: #2a7ae4;
}

.ver__todo-vector {
  width: clamp(10px, 13px, 16px);
}

/* Tarjetas Productos */

.contenedor__tarjetas {
  display: grid;
  gap: 2%;
  justify-items: start;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(9.75rem, 1fr));
  width: 100%;
}

.tarjeta__producto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
}
.producto__nombre {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.producto__precio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.producto__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #2a7ae4;
}
/* caja base de secciones de los productos
 */
